<div class="color_slider">
    <div ng-click="show = !show" class="slider_result pointer" ng-style="result"></div>
    rgb({{red}},{{green}},{{blue}})
    <ul ng-show="show">
        <li>
            <label for="red_slider">
                <input type="range" min="0" max="255" id="red_slider" ng-model="red" ng-value="red">Rood
            </label>
        </li>
        <li>
            <label for="green_slider">
                <input type="range" min="0" max="255" id="green_slider" ng-model="green" ng-value="green">Groen
            </label>
        </li>
        <li>
            <label for="blue_slider">
                <input type="range" min="0" max="255" id="blue_slider" ng-model="blue" ng-value="blue">Blauw
            </label>
        </li>
    </ul>
</div>