<div class="color_slider">
    <div ng-click="show = !show" class="slider_result pointer" ng-style="result"></div>
    <div class="slider_value">hsv({{hue}}, {{saturation}}%, {{value}}%)</div>
    <div class="slider_list">
        <ul ng-show="show">
            <li>
                <label for="h_slider">
                    <input type="range" min="0" max="180" id="h_slider" ng-model="hue" ng-value="hue">HUE
                </label>
            </li>
            <li>
                <label for="s_slider">
                    <input type="range" min="0" max="100" id="s_slider" ng-model="saturation"
                           ng-value="saturation">Saturation
                </label>
            </li>
            <li>
                <label for="v_slider">
                    <input type="range" min="0" max="100" id="v_slider" ng-model="value" ng-value="value">Value
                </label>
            </li>
        </ul>
    </div>
</div>