<div class="settings-overlay">
    <ul class="tabHeader">
        <li><a href="#" ng-click="tab='general'" ng-class="{'active': tab == 'general'}">General</a></li>
        <li><a href="#" ng-click="tab='road'" ng-class="{'active': tab == 'road'}">Road</a></li>
    </ul>
    <div ng-if="tab == 'general'" class="general-settings">
        <ul>
            <li>
                <label for="framerate_slider">
                    Framerate:
                    <input type="range" min="1" max="30" id="framerate_slider" ng-model="framerate" ng-change="updateFramerate(framerate)">
                    {{ framerate }}
                    fps.
                </label>
            </li>
            <li>
                <label for="throttleLimit">
                    Throttle limit:
                    <input type="range" min="-1" id="throttleLimit" max="120"
                           ng-model="settings.beagleBoneSettings.throttleLimit">
                    {{ settings.beagleBoneSettings.throttleLimit }}
                </label>
            </li>
            <li>
                <label for="preview">
                    Show preview:
                    <input type="checkbox" id="preview" ng-model="settings.preview">
                    {{ settings.preview }}
                </label>
            </li>
        </ul>
    </div>
    <div ng-if="tab == 'road'" class="road-settings">
        <ul>
            <li>
                <label for="viewtype">
                    View type:
                    <select id="viewType" ng-model="settings.roadSettings.viewType">
                        <option ng-repeat="viewType in roadViewTypes"
                                value="{{viewType.id}}" ng-selected="settings.roadSettings.viewType == viewType.id">
                            {{viewType.name}}</option>
                    </select>
                </label>
            </li>
            <li>
                <label for="addRoadResult">
                    Add found:
                    <input type="checkbox" id="addRoadResult"
                           ng-model="settings.roadSettings.addFound">
                    {{ settings.roadSettings.addFound }}
                </label>
            </li>
            <li>
                <label for="addFinishLine">
                    Add finishlines:
                    <input type="checkbox" id="addFinishLine"
                           ng-model="settings.roadSettings.showFinishLine">
                    {{ settings.roadSettings.showFinish }}
                </label>
            </li>
            <li>
                <label for="addLane">
                    Add lane:
                    <input type="checkbox" id="addLane"
                           ng-model="settings.roadSettings.showLane">
                    {{ settings.roadSettings.showLane }}
                </label>
            </li>
            <li>
                <label for="addAverage">
                    Add average line:
                    <input type="checkbox" id="addAverage"
                           ng-model="settings.roadSettings.showAverageLine">
                    {{ settings.roadSettings.showAverageLine }}
                </label>
            </li>
            <li>
                <label for="roi_slider">
                    Road ROI:
                    <input type="range" min="1" id="roi_slider" max="{{settings.cameraDimension.height}}" ng-model="settings.roadSettings.roiHeight">
                    {{ settings.roadSettings.roiHeight }}
                </label>
            </li>
            <li>
                <label for="canny_threshold1">
                    Canny threshold1:
                    <input type="range" min="1" max="1000" id="canny_threshold1"
                           ng-model="settings.roadSettings.cannyThreshold1">
                    {{ settings.roadSettings.cannyThreshold1 }}
                </label>
            </li>
            <li>
                <label for="canny_threshold2">
                    Canny threshold1:
                    <input type="range" min="1" max="1000" id="canny_threshold2"
                           ng-model="settings.roadSettings.cannyThreshold2">
                    {{ settings.roadSettings.cannyThreshold2 }}
                </label>
            </li>
            <li>
                <label for="canny_apertureSize">
                    Canny aperture size:
                    <input type="range" min="3" id="canny_apertureSize" max="7" step="2"
                           ng-model="settings.roadSettings.cannyApertureSize">
                    {{ settings.roadSettings.cannyApertureSize }}
                </label>
            </li>
            <li>
                <label for="lines_threshold">
                    Lines threshold:
                    <input type="range" min="1" id="lines_threshold" max="1000"
                           ng-model="settings.roadSettings.linesThreshold">
                    {{ settings.roadSettings.linesThreshold }}
                </label>
            </li>
            <li>
                <label for="lines_minLineSize">
                    Lines min line size:
                    <input type="range" min="1" id="lines_minLineSize" max="1000"
                           ng-model="settings.roadSettings.linesMinLineSize">
                    {{ settings.roadSettings.linesMinLineSize }}
                </label>
            </li>
            <li>
                <label for="lines_maxLineGap">
                    Lines max line gap:
                    <input type="range" min="1" id="lines_maxLineGap" max="1000"
                           ng-model="settings.roadSettings.linesMaxLineGap">
                    {{ settings.roadSettings.linesMaxLineGap }}
                </label>
            </li>
        </ul>
    </div>
</div>