<div class="settings-overlay">
    <ul class="tabHeader">
        <li><a href="#" ng-click="tab='general'" ng-class="{'active': tab == 'general'}">General</a></li>
        <li><a href="#" ng-click="tab='road'" ng-class="{'active': tab == 'road'}">Road</a></li>
    </ul>
    <div ng-if="tab == 'general'" class="general-settings">
        <ul>
            <li>
                <label for="framerate_slider">
                    Framerate:
                    <input type="range" min="1" max="30" id="framerate_slider" ng-model="framerate" ng-change="updateFramerate(framerate)">
                    {{ framerate }} fps.
                </label>
            </li>
            <li>
                <label for="throttleLimit">
                    Throttle limit:
                    <input type="range" min="-1" id="throttleLimit" max="120" ng-model="settings.beagleBoneSettings.throttleLimit">
                    {{ settings.beagleBoneSettings.throttleLimit }}
                </label>
            </li>
            <li>
                <label for="preview">
                    Show preview:
                    <input type="checkbox" id="preview" ng-model="settings.preview">
                    {{ settings.preview }}
                </label>
            </li>
        </ul>
    </div>
    <div ng-if="tab == 'road'" class="road-settings">
        <ul>
            <li ng-show="false">
                <label for="viewtype">
                    View type:
                    <select id="viewType" ng-model="settings.roadSettings.viewType">
                        <option ng-repeat="viewType in roadViewTypes"
                                value="{{viewType.id}}" ng-selected="settings.roadSettings.viewType == viewType.id">
                            {{viewType.name}}</option>
                    </select>
                </label>
            </li>
            <li>
                <label for="addFinishLines">
                    Add finishlines:
                    <input type="checkbox" id="addFinishLines" ng-model="settings.roadSettings.showFinishLines">
                    {{ settings.roadSettings.showFinishLines }}
                </label>
            </li>
            <li>
                <label for="addRoadlines">
                    Add road lines:
                    <input type="checkbox" id="addRoadlines" ng-model="settings.roadSettings.showRoadLines">
                    {{ settings.roadSettings.showRoadLines }}
                </label>
            </li>
            <li>
                <label for="roi_slider">
                    Road ROI:
                    <input type="range" min="1" id="roi_slider" max="{{settings.cameraDimension.height}}" ng-model="settings.roadSettings.roiHeight">
                    {{ settings.roadSettings.roiHeight }}
                </label>
            </li>
            <li>
                <label for="roi_straight_speed">
                    Straight speed:
                    <input type="range" min="1" id="roi_straight_speed" max="{{settings.beagleBoneSettings.throttleLimit}}"
                           ng-model="settings.roadSettings.straightSpeed">
                    {{ settings.roadSettings.straightSpeed }}
                </label>
            </li>
            <li>
                <label for="roi_steering_speed">
                    Steering speed:
                    <input type="range" min="1" id="roi_steering_speed" max="{{settings.beagleBoneSettings.throttleLimit}}"
                           ng-model="settings.roadSettings.steeringSpeed">
                    {{ settings.roadSettings.steeringSpeed }}
                </label>
            </li>
            <li>
                <label for="roi_min_side_distance">
                    Min side distance:
                    <input type="range" min="1" id="roi_min_side_distance" max="{{settings.cameraDimension.width/2}}"
                           ng-model="settings.roadSettings.minSideDistance">
                    {{ settings.roadSettings.minSideDistance }}
                </label>
            </li>
            <li>
                <label for="roi_break_velocity">
                    Break velocity:
                    <input type="range" min="1" id="roi_break_velocity" max="{{settings.beagleBoneSettings.throttleLimit}}"
                           ng-model="settings.roadSettings.breakVelocity">
                    {{ settings.roadSettings.breakVelocity }}
                </label>
            </li>
            <li>
                <label for="roi_min_distance_finish">
                    Min distance 2e FinishLine:
                    <input type="range" min="1" id="roi_min_distance_finish" max="200"
                           ng-model="settings.roadSettings.minDistance2FinishLine">
                    {{ settings.roadSettings.minDistance2FinishLine }}
                </label>
            </li>
        </ul>
        <ul class="tabHeader">
            <li><a href="#" ng-click="subtab='lane'" ng-class="{'active': subtab == 'lane'}">Lane</a></li>
            <li><a href="#" ng-click="subtab='finish'" ng-class="{'active': subtab == 'finish'}">Finish</a></li>
        </ul>
        <div ng-if="tab == 'road' && subtab == 'lane'">
            <ul>
                <li>
                    <label for="lane_canny_threshold1">
                        Canny threshold1:
                        <input type="range" min="1" max="1000" id="lane_canny_threshold1" ng-model="settings.roadSettings.laneLineSettings.cannyThreshold1">
                        {{ settings.roadSettings.laneLineSettings.cannyThreshold1 }}
                    </label>
                </li>
                <li>
                    <label for="lane_canny_threshold2">
                        Canny threshold1:
                        <input type="range" min="1" max="1000" id="lane_canny_threshold2" ng-model="settings.roadSettings.laneLineSettings.cannyThreshold2">
                        {{ settings.roadSettings.laneLineSettings.cannyThreshold2 }}
                    </label>
                </li>
                <li>
                    <label for="lane_canny_apertureSize">
                        Canny aperture size:
                        <input type="range" min="3" id="lane_canny_apertureSize" max="7" step="2" ng-model="settings.roadSettings.laneLineSettings.cannyApertureSize">
                        {{ settings.roadSettings.laneLineSettings.cannyApertureSize }}
                    </label>
                </li>
                <li>
                    <label for="lane_lines_threshold">
                        Lines threshold:
                        <input type="range" min="1" id="lane_lines_threshold" max="1000" ng-model="settings.roadSettings.laneLineSettings.linesThreshold">
                        {{ settings.roadSettings.laneLineSettings.linesThreshold }}
                    </label>
                </li>
                <li>
                    <label for="lane_lines_minLineSize">
                        Lines min line size:
                        <input type="range" min="1" id="lane_lines_minLineSize" max="1000" ng-model="settings.roadSettings.laneLineSettings.linesMinLineSize">
                        {{ settings.roadSettings.laneLineSettings.linesMinLineSize }}
                    </label>
                </li>
                <li>
                    <label for="lane_lines_maxLineGap">
                        Lines max line gap:
                        <input type="range" min="1" id="lane_lines_maxLineGap" max="1000" ng-model="settings.roadSettings.laneLineSettings.linesMaxLineGap">
                        {{ settings.roadSettings.laneLineSettings.linesMaxLineGap }}
                    </label>
                </li>
            </ul>
        </div>
        <div ng-if="tab == 'road' && subtab == 'finish'">
            <ul>
                <li>
                    <label for="finish_canny_threshold1">
                        Canny threshold1:
                        <input type="range" min="1" max="1000" id="finish_canny_threshold1" ng-model="settings.roadSettings.finishLineSettings.cannyThreshold1">
                        {{ settings.roadSettings.finishLineSettings.cannyThreshold1 }}
                    </label>
                </li>
                <li>
                    <label for="finish_canny_threshold2">
                        Canny threshold1:
                        <input type="range" min="1" max="1000" id="finish_canny_threshold2" ng-model="settings.roadSettings.finishLineSettings.cannyThreshold2">
                        {{ settings.roadSettings.finishLineSettings.cannyThreshold2 }}
                    </label>
                </li>
                <li>
                    <label for="finish_canny_apertureSize">
                        Canny aperture size:
                        <input type="range" min="3" id="finish_canny_apertureSize" max="7" step="2" ng-model="settings.roadSettings.finishLineSettings.cannyApertureSize">
                        {{ settings.roadSettings.finishLineSettings.cannyApertureSize }}
                    </label>
                </li>
                <li>
                    <label for="finish_lines_threshold">
                        Lines threshold:
                        <input type="range" min="1" id="finish_lines_threshold" max="1000" ng-model="settings.roadSettings.finishLineSettings.linesThreshold">
                        {{ settings.roadSettings.finishLineSettings.linesThreshold }}
                    </label>
                </li>
                <li>
                    <label for="finish_lines_minLineSize">
                        Lines min line size:
                        <input type="range" min="1" id="finish_lines_minLineSize" max="1000" ng-model="settings.roadSettings.finishLineSettings.linesMinLineSize">
                        {{ settings.roadSettings.finishLineSettings.linesMinLineSize }}
                    </label>
                </li>
                <li>
                    <label for="finish_lines_maxLineGap">
                        Lines max line gap:
                        <input type="range" min="1" id="finish_lines_maxLineGap" max="1000" ng-model="settings.roadSettings.finishLineSettings.linesMaxLineGap">
                        {{ settings.roadSettings.finishLineSettings.linesMaxLineGap }}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>