body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

.pointer {
  cursor: pointer;
}

.touchpad {
  float: left;
}

.panic {
  float: right;
}
.touchpad {

  #touchpad
  {
    width: 400px;
    height: 400px;
    background: #666666;
    border: 1px solid #000000;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;

    -moz-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
    -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
  }

}

.settings {
  float: right;
  background-color: #666666;
  img {
    height: 36px;
    width: 36px;
  }
}

.settings img {
  cursor: pointer;
  float: right;
  size: 36px 36px;
}

.lifeline {

  .heartbeat {
    background: red none repeat scroll 0 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .full {
    opacity: 1;
  }
}

.autonomous {
  float: left;
}