body {
  font-family: 'Roboto', 'Helvetica New', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
}

header {
  overflow:hidden;
}

.pointer {
  cursor: pointer;
}

.touchpad {
  float: left;
}

.panic-button {
  float: right;
}

.touchpad {

  #touchpad
  {
    width: 400px;
    height: 400px;
    background: #666666;
    border: 1px solid #000000;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;

    -moz-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
    -webkit-box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .4), inset -6px -6px 2px rgba(255,255,255, .4);
  }

}

.settings {
  float: right;
  cursor: pointer;
  background-color: #fff;
  height: 36px;
  width: 36px;
}

.settings-overlay {
  position: relative;
}

.lifeline {
  float: left;
  border: 1px solid #CECECE;
  padding: 6px;
  border-radius: 12px;

  .heartbeat {
    background: red none repeat scroll 0 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .full {
    opacity: 1;
  }
}

.car-status {
  float: left;
  overflow: hidden;
  .car {
    float: left;
    border: 1px solid #CECECE;
    padding: 6px;
    border-radius: 12px;
    .angle {
      width: 30px;
    }
    .throttle {
      width: 30px;
    }
  }
  .mode {
    float: left;
    border: 1px solid #CECECE;
    padding: 4px;
    border-radius: 12px;
  }
}

.car-disabled {
  float: left;
}

.autonomous {
  overflow: hidden;

  .status {
    float: left;
    ul {
      list-style-type: none;
      padding-left: 5px;
    }
    button {
      padding-left: 5px;
    }
  }

  .snapshot {
    float: left;
  }
}

.color_slider {

  .slider_result {
    width: 20px;
    height: 20px;
  }
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 200px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 200px;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}