<div class="autonomous">
    <div class="snapshot">
        <div id="roi">
            <div class="roi" style="left: {{settings.trafficLightSettings.roi.x}}px;
            top: {{settings.trafficLightSettings.roi.y}}px; width:
            {{settings.trafficLightSettings.roi.width}}px; height: {{settings.trafficLightSettings.roi.height}}px;"></div>
        </div>
        <div id="roiHeight">
            <div class="roiHeight"
                 style="left:0px;top:{{settings.roadSettings.roiHeight}}px;width:{{settings.cameraDimension.width}}px;
                height: 1px;"></div>
        </div>
        <img id="webcam">
    </div>
    <div class="status">
        <!--<img class="settings" ng-click="showSettings = !showSettings" src="./images/settings.png">-->
        <button class="pointer" ng-click="startRace()" ng-if="!racing" ng-disabled="!readyToRace();">START RACE</button>
        <button class="pointer" ng-click="stopRace()" ng-if="racing">STOP RACE</button>
        <ul><li ng-repeat="msg in msgs track by $index">{{ msg.msg }}
            <span ng-if="msg.count > 1">[{{msg.count}}]</span></li></ul>
    </div>
    <settings ng-if="showSettings"></settings>
</div>