body {
  font-family: 'Roboto', 'Helvetica New', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  padding: 0;
  margin: 5px;
  color: white;
  background-color: black;
}

header {
  overflow: hidden;
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
}

.workarea {
  overflow: hidden;
}

.touchpad {
  float: left;
}

.panic-button {
  float: right;
}

.touchpad #touchpad {
  width: 400px;
  height: 400px;
  background: #666666;
  border: 8px inset #000000;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}

.settings {
  float: right;
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.settings-overlay {
  position: relative;
  float: right;
  border: 1px solid crimson;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 12px;
  margin-left: 5px;
  width: 340px;
  height: 100%;
}
.settings-overlay .tabHeader {
  list-style-type: none;
  margin: -10px 0 -13px;
  padding: 0;
  overflow: hidden;
}
.settings-overlay .tabHeader .active {
  color: crimson;
}
.settings-overlay .tabHeader li {
  float: left;
}
.settings-overlay .tabHeader li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.settings-overlay .trafficlight-settings input {
  width: 120px;
}
.settings-overlay .trafficlight-settings ul {
  list-style-type: none;
  float: left;
  margin-top: -6px;
  overflow: auto;
}
.settings-overlay .trafficlight-settings ul li {
  padding: 5px;
}
.settings-overlay .trafficlight-settings .colors, .settings-overlay .trafficlight-settings .sizes {
  margin-left: -3px;
}
.settings-overlay .trafficlight-settings .min {
  float: left;
  width: 30px;
}
.settings-overlay .trafficlight-settings .max {
  float: left;
  width: 30px;
}
.settings-overlay .trafficlight-settings .color-picker-wrapper {
  float: left;
}
.settings-overlay .general-settings ul {
  list-style-type: none;
  float: left;
}
.settings-overlay .general-settings ul li {
  padding: 5px;
}
.settings-overlay .road-settings ul {
  list-style-type: none;
  float: left;
}
.settings-overlay .road-settings ul li {
  padding: 5px;
}

.lifeline {
  float: left;
  border: 1px solid #CECECE;
  padding: 6px;
  border-radius: 12px;
  margin-right: 5px;
}
.lifeline .heartbeat {
  background: red none repeat scroll 0 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.lifeline .full {
  opacity: 1;
}

.car-status {
  float: left;
  overflow: hidden;
}
.car-status .car {
  float: left;
  border: 1px solid #CECECE;
  padding: 6px;
  margin-right: 5px;
  border-radius: 12px;
}
.car-status .car .angle {
  width: 30px;
}
.car-status .car .throttle {
  width: 30px;
}
.car-status .mode {
  float: left;
  border: 1px solid #CECECE;
  padding: 4px;
  border-radius: 12px;
}

.car-disabled {
  float: left;
}

.autonomous {
  overflow: hidden;
  float: left;
}
.autonomous .status {
  float: left;
  border: 1px solid crimson;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 4px;
  width: 200px;
  height: 100%;
}
.autonomous .status ul {
  list-style-type: none;
  padding-left: 5px;
}
.autonomous .status button {
  margin-left: 55px;
  margin-top: 20px;
  border-radius: 20px;
  height: 32px;
}
.autonomous .snapshot {
  float: left;
  border: 1px solid crimson;
  margin-right: 3px;
  width: 320px;
  height: 240px;
  position: relative;
}
.autonomous .snapshot #webcam {
  position: absolute;
  width: 320px;
  height: 240px;
  z-index: 0;
}
.autonomous .snapshot #roi {
  position: absolute;
  width: 320px;
  height: 240px;
  z-index: 9999;
}
.autonomous .snapshot .roi {
  border: 2px dashed #176fff;
  position: absolute;
}
.autonomous .snapshot .roiHeight {
  border: 1px solid orange;
  position: absolute;
  z-index: 1;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px 5px -4px 2px;
  width: 100px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
