<!DOCTYPE HTML>
<html ng-app="carmageddon">
<head>
    <title>Carmageddon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src='./js/virtualjoystick.js'></script>
    <script src='./js/angular.min.js'></script>
    <script src='./js/angular-resource.min.js'></script>
    <script src='./js/angular-route.min.js'></script>
    <script src='./js/angular-cookies.min.js'></script>
    <script src='./js/angular-websocket.js'></script>
    <script src='./js/angular-sanitize.min.js'></script>
    <link rel="stylesheet" href="./css/carmageddon.css"/>
</head>
<body>
<header>
    <connection-check></connection-check>
    <car-status></car-status>
    <car-mode></car-mode>
</header>
<div ng-if="carMode == 'disabled'">De auto is uitgeschakeld.</div>
<touchpad ng-if="carMode == 'manual'"></touchpad>
<autonomous ng-if="carMode == 'autonomous'"></autonomous>

<panic-button></panic-button>

<script src='./scripts/app.js'></script>

<script src='./scripts/directives/autonomous/autonomous.js'></script>
<script src='./scripts/directives/carStatus/carStatus.js'></script>
<script src='./scripts/directives/panicButton/panicButton.js'></script>
<script src='./scripts/directives/connectionCheck/connectionCheck.js'></script>
<script src='./scripts/directives/touchpad/touchpad.js'></script>
</body>
</html>
